@page "/getintouch"

@*endpointin olması gereken uzantısı.*@


<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">
        Contact
    </div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-2"></i>
        <p>
            0 (544) 123 23 45
        </p>
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-2"></i>
        <p>
            Adresi buraya yazacağız sokağı no:3344230 d:98466 meksika/ığdır
        </p>
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-2"></i>
        <p>
            destek@gmail.com    
        </p>
    </div>
</div>