

@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" aria-current="page" class="nav-link">
            <i class="fa fa-solid fa-gear"></i>
            Admin
        </a>
    </li>
}


@if(User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page"
           asp-controller="Account" asp-route-ReturnUrl="@Context.Request.PathAndQuery()"
           asp-action="Logout">
           <i class="fa-solid fa-right-from-bracket"></i>
           Logout</a>@*-asp-route ile mevcut sayfanın url ini gönderiyoruz*@
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page"
           asp-controller="Account" asp-route-ReturnUrl="@Context.Request.PathAndQuery()"
           asp-controller="Account" asp-action="Login">
            <i class="fa-solid fa-right-to-bracket"></i>
           Login</a>
    </li>

}