<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreApp - ViewData["Title"] </title><!--ViewData["Title"] controller a göder dinamik title verebiliriz-->
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.css" />
    <!-- asp-append-version="true" dosyaları önbellekleme yapar performans arttırır-->
</head>

<body>
    <header>
        StoreApp: Header
        <partial name="_Navbar" /><!--_Navbar.cshtml dosyasını import et-->
        @RenderSection("Header", false)
        <!-- headera eklenecek ekstra bir kod var ise ekler(zorunlu değil)-->
    </header>
    <div class="container">
        <div>
            <partial name="_Notification" /><!--tempdata aracılığı ile notifacation vereceğimiz bölüm-->
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        @RenderSection("Footer", false)
        <!-- footera eklenecek ekstra bir kod var ise ekler(zorunlu değil)-->
        footer
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <!--Asenkron scripts dosyasını import eder-->
</body>

</html>